@use "../components/nav-menu.scss";

@use "../vars" as v;

* {
  margin: 0;
  padding: 0;
}

main#calendar {
  margin-top: 2%;


  .date {
    display: flex;
    justify-content: space-between;
    font-size: 1em;
  }
}

.content {
  background-color: v.$container-bg-color;
  display: inline-block;
  width: 100%;
  height: 60px;
}
.hour {
  vertical-align: super;
  font-size: smaller;
  display: inline-block;
  width: 10px;
}
.calendar {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: nowrap;
}
.hours {
  position: relative;
  width: 100%;
  z-index: 0;
}
.meetings-container {
  position: absolute;
  top: 170px;
  left: 10%;
  width: 80%;
  height: 1738px;
  z-index: 1;

  .meeting {
    position:absolute;
    border:1px solid black;
    width: 98%;
    background-color: rgba(229, 235, 242, 0.8);
    border-radius: 5px;
    box-shadow: 0px, opx, 2px, 2px, gray;
    padding-left:5px;
    color:black;
    z-index:3;
  }
}

.display-meeting {
  // overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  // overflow-x: hidden;
  // text-overflow: ellipsis;

  &:hover {
    overflow-x: scroll;
    // overflow-x: auto; 
  }
  
}

#time-sheet {
  position: absolute;
  top: 20px;
  left: 0px;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  li {
    display: flex;
    justify-content: baseline;
    flex-direction: row;
    gap: 10px;
  }
}

@media (min-width: v.$mobile-width) {
  .meetings-container {
    width: 90%;
    left: 6%;
  }
}
