$nav-link-color: rgb(55, 51, 51);
$nav-bg-color: rgb(248, 249, 250);
$excuse-yourself-btn-color: crimson;
$add-btn-color: rgb(7, 106, 254);
$error-msg-color: red;
$container-bg-color: rgb(22, 202, 234);
$mobile-width: 640px;
